.list{
    padding-left: 10%;
}

.focus-styles{
    display: inline-block;
}

.focus-button{
    display: block;  
}

table, th, td {
    border: 2px solid black;
    padding: 10%;
    width: 40%;
  }

  .border{
    border: 2px solid black;
  }
