.list{
    padding-left: 10%;
}

.focus-styles{
    display: inline-block;
}

.focus-button{
    display: block;
}

/*generic table style*/
table, th, td {
    border: 2px solid black;
    width: 40%;
}

.border{
    border: 1px solid black;
}

.side-panel{  
    position: fixed;
   left: 90%;
   top: 0%;
   width: 10%;
}


#books, #pages{
    margin-left: 20%;
}

h1{
    text-align: center;
}